*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#posts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}
.btn.btn-dark{
    float: right;
    margin-right: 10px;
}
.btn.btn-warning{
    float: right;
    margin-right: 10px;
}
.btn.btn-danger{
    float: right;
    margin-right: 10px;
}

.btn.btn-dark.mb-3{
    margin-top: 15px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
