{% extends 'base.html' %}

{% block content %}
<h1 style="text-align:center ;" class="display-1">Login</h1>
<div class="center">
    <form method="post">
        {{ form.hidden_tag() }}
    
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    
        {{ form.submit(class="btn btn-dark mb-3") }}
        <a class="btn btn-dark mb-3" href="{{url_for('add_user')}}">Click here to register yourself.</a>
    </form>
</div>

{% endblock %}