{% extends 'base.html' %}

{% block content %}
<h1>Update user: </h1>
{% if current_user.id == id or current_user.id == 18 %}
<form action="/update/{{newname.id}}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control", value=newname.name) }}

    {{ form.username.label(class="form-label") }}
    {{ form.username(class="form-control", value=newname.username) }}

    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control", value=newname.email) }}

    {{ form.profile_pic.label(class="form-label") }}
    {{ form.profile_pic(class="form-control", value=newname.profile_pic) }}

    {{ form.about.label(class="form-label") }}
    <textarea name="about" class="form-control">
        {{ newname.about }}
    </textarea>

    {{ form.submit(class="btn btn-dark mb-3") }}

    <a type="button" class="btn btn-danger" href="{{url_for('delete',id = id)}}">Delete user</a>
</form>
{% else %}
<h1 class="display-3">You can't edit this user.</h1>
<p>Reason: Access denied.</p>
{% endif %}
{% endblock %}