
{% extends 'base.html' %}

{% block content %}
<h1>Update user: </h1>
<form action="/update/{{newname.id}}" method="post">
    {{ form.hidden_tag() }}

    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control", value=newname.name) }}

    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control", value=newname.email) }}

    {{ form.favorite_color.label(class="form-label") }}
    {{ form.favorite_color(class="form-control", value=newname.favorite_color) }}

    {{ form.submit(class="btn btn-dark mb-3") }}
</form>
{% endblock %}